<script>
  // this checks whether system dark mode is set
  let systemInitiatedDark = window.matchMedia("(prefers-color-scheme: dark)");
  // this checks for session storage telling to override
  // the system preferences
  let theme = sessionStorage.getItem("theme");

  if (systemInitiatedDark.matches) {
    document.getElementById("theme-toggle").innerHTML = "Light Mode";
    document.documentElement.setAttribute("class", "dark-theme");
  } else {
    document.getElementById("theme-toggle").innerHTML = "Dark Mode";
    document.documentElement.setAttribute("class", "light-theme");
  }

  function prefersColorTest(systemInitiatedDark) {
    if (systemInitiatedDark.matches) {
      document.documentElement.setAttribute("class", "dark-theme");
      document.getElementById("theme-toggle").innerHTML = "Light Mode";
      // this clears the session storage
      sessionStorage.setItem("theme", "");
    } else {
      document.documentElement.setAttribute("class", "light-theme");
      document.getElementById("theme-toggle").innerHTML = "Dark Mode";
      sessionStorage.setItem("theme", "");
    }
  }
  systemInitiatedDark.addListener(prefersColorTest);

  function modeSwitcher() {
    // it’s important to check for overrides again
    let theme = sessionStorage.getItem("theme");
    // checks if reader selected dark mode
    if (theme === "dark") {
      document.documentElement.setAttribute("class", "light-theme");
      sessionStorage.setItem("theme", "light");
      document.getElementById("theme-toggle").innerHTML = "Dark Mode";
      // checks if reader selected light mode
    } else if (theme === "light") {
      document.documentElement.setAttribute("class", "dark-theme");
      sessionStorage.setItem("theme", "dark");
      document.getElementById("theme-toggle").innerHTML = "Light Mode";
      // checks if system set dark mode
    } else if (systemInitiatedDark.matches) {
      document.documentElement.setAttribute("class", "light-theme");
      sessionStorage.setItem("theme", "light");
      document.getElementById("theme-toggle").innerHTML = "Dark Mode";
      // the only option left is system set light mode
    } else {
      document.documentElement.setAttribute("class", "dark-theme");
      sessionStorage.setItem("theme", "dark");
      document.getElementById("theme-toggle").innerHTML = "Light Mode";
    }
  }

  if (sessionStorage.getItem("theme") === "dark") {
    document.getElementById("theme-toggle").innerHTML = "Light Mode";
    document.documentElement.setAttribute("class", "dark-theme");
  } else {
    document.getElementById("theme-toggle").innerHTML = "Dark Mode";
    document.documentElement.setAttribute("class", "light-theme");
  }
</script>
