---
layout: default
---

<header>
  <h1>
    <img style="display: inline; width: 0.75em" src="/logo.png" alt="logo" />{{
    site.title }}
  </h1>
  {%-if site.theme_config.show_description-%}
  <p>{{ site.description }}</p>
  {%-endif-%}
</header>
<a
  id="theme-toggle"
  onclick="modeSwitcher()"
  style="display: flex; justify-content: flex-end"
></a>
{%-include menu_item.html collection=site.data.menu.entries-%} {{ content }}
<ul>
  <li style="cursor: pointer" onclick="toggleSearchBar()" title="search">
    <u>search</u>
  </li>
</ul>
<div id="search-bar" style="display: none">{%- include search.html -%}</div>
